:root {
    --bgcolor: #282a36;
	--bgblockcolor: #6272a4;
	--titlecolor: #6272a4;
	--scrollcolor: #ff5555;
}

h1 {
	text-align: center;
	color: var(--titlecolor);
}

body {
	background-color: var(--bgcolor); /*#6272a4;*/
	text-align: left;
	font-family: "Ubuntu", Geneva, sans-serif;
}

p {
	text-align: center;
}

#purerss {
	background-color: var(--bgblockcolor);
    width: 90vw;
    border: 10px #bd93f9;
    padding: 10px;
    margin: 10px;
	border-radius: 10px;
}

/*Scrollbars*/



::-webkit-scrollbar {
    width: 8px;
	background: var(--bgcolor);
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px; 
    border-radius: 10px;
	background: var(--bgcolor);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px;
	background: var(--scrollcolor);
}
